h1,h2,h3,h4{
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.05em;
    font-weight: bold;
}

.nav-link {
    font-size: 1.25rem;
}

a {
    color: darkgreen !important;
}

a:hover {
    color: darkseagreen !important;
    text-decoration: none;
    background-color: transparent !important;
}

.tight-paragraphs {
    padding-top: 12px;
}

.tight-paragraphs p{
    line-height: 0px;
}
.dark-green-border {
    border: 5px solid #28a745;
    margin: 0;
    padding: 0;
    background-color: #28a745;
}

.image-bounds {
    max-width: 230px;
}

.image-shadow:hover {
    -webkit-filter: drop-shadow(0px 2px 3px #666666);
    filter: drop-shadow(0px 2px 3px #666666);
}