a {
    color: darkgreen !important;
}

a:hover {
    color: darkseagreen !important;
    text-decoration: none;
}

.image-bounds {
    max-width: 250px;
    word-wrap: break-word;
}

.horizontal-scrollbar {
    overflow-x: auto;
    white-space: nowrap;
}

.vertical-scrollbar {
    overflow-y: scroll;
    max-height: 1280px;
}